{
  "openapi": "3.0.0",
  "info": {
    "title": "Mr.Comic API",
    "description": "API для сторонних разработчиков платформы Mr.Comic",
    "version": "1.0.0",
    "contact": {
      "name": "Mr.Comic API Support",
      "email": "api-support@mrcomic.com",
      "url": "https://developer.mrcomic.com"
    }
  },
  "servers": [
    {
      "url": "https://api.mrcomic.com/v1",
      "description": "Продакшн сервер"
    },
    {
      "url": "https://api-sandbox.mrcomic.com/v1",
      "description": "Песочница для тестирования"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/comics": {
      "get": {
        "summary": "Получение списка комиксов",
        "description": "Возвращает список комиксов с пагинацией и возможностью фильтрации",
        "operationId": "getComics",
        "tags": ["Comics"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Количество элементов на странице",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "genre",
            "in": "query",
            "description": "Фильтр по жанру",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Поисковый запрос",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Поле для сортировки",
            "schema": {
              "type": "string",
              "enum": ["title", "releaseDate", "popularity", "rating"],
              "default": "popularity"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Порядок сортировки",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComicsList"
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Слишком много запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/comics/{id}": {
      "get": {
        "summary": "Получение информации о комиксе",
        "description": "Возвращает детальную информацию о комиксе по его ID",
        "operationId": "getComicById",
        "tags": ["Comics"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID комикса",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comic"
                }
              }
            }
          },
          "404": {
            "description": "Комикс не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/comics/{id}/chapters": {
      "get": {
        "summary": "Получение списка глав комикса",
        "description": "Возвращает список глав для указанного комикса",
        "operationId": "getComicChapters",
        "tags": ["Comics"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID комикса",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Количество элементов на странице",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChaptersList"
                }
              }
            }
          },
          "404": {
            "description": "Комикс не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/themes": {
      "get": {
        "summary": "Получение списка тем",
        "description": "Возвращает список пользовательских тем с пагинацией и возможностью фильтрации",
        "operationId": "getThemes",
        "tags": ["Themes"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Количество элементов на странице",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Поисковый запрос",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Поле для сортировки",
            "schema": {
              "type": "string",
              "enum": ["name", "createdAt", "rating", "downloads"],
              "default": "rating"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Порядок сортировки",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThemesList"
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/themes/{id}": {
      "get": {
        "summary": "Получение информации о теме",
        "description": "Возвращает детальную информацию о теме по её ID",
        "operationId": "getThemeById",
        "tags": ["Themes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID темы",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Theme"
                }
              }
            }
          },
          "404": {
            "description": "Тема не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/profile": {
      "get": {
        "summary": "Получение профиля пользователя",
        "description": "Возвращает информацию о профиле текущего пользователя",
        "operationId": "getUserProfile",
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/bookmarks": {
      "get": {
        "summary": "Получение закладок пользователя",
        "description": "Возвращает список закладок текущего пользователя",
        "operationId": "getUserBookmarks",
        "tags": ["User"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Количество элементов на странице",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookmarksList"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Добавление закладки",
        "description": "Добавляет новую закладку для текущего пользователя",
        "operationId": "addUserBookmark",
        "tags": ["User"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookmarkInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Закладка успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bookmark"
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/reading-stats": {
      "get": {
        "summary": "Получение статистики чтения",
        "description": "Возвращает статистику чтения для текущего пользователя",
        "operationId": "getReadingStats",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Период статистики",
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "year", "all"],
              "default": "month"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingStats"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/recommendations": {
      "get": {
        "summary": "Получение рекомендаций",
        "description": "Возвращает персонализированные рекомендации комиксов для текущего пользователя",
        "operationId": "getRecommendations",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Количество рекомендаций",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationsList"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Comic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "coverUrl": {
            "type": "string",
            "format": "uri"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "releaseDate": {
            "type": "string",
            "format": "date"
          },
          "rating": {
            "type": "number",
            "format": "float"
          },
          "chaptersCount": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": ["ongoing", "completed", "hiatus"]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publisher": {
            "type": "string"
          }
        },
        "required": ["id", "title", "coverUrl", "genres", "status"]
      },
      "ComicsList": {
        "type": "object",
        "properties": {
          "comics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comic"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": ["comics", "pagination"]
      },
      "Chapter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "comicId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "number": {
            "type": "number"
          },
          "releaseDate": {
            "type": "string",
            "format": "date"
          },
          "pagesCount": {
            "type": "integer"
          },
          "thumbnailUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": ["id", "comicId", "number", "pagesCount"]
      },
      "ChaptersList": {
        "type": "object",
        "properties": {
          "chapters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chapter"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": ["chapters", "pagination"]
      },
      "Theme": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "previewImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "authorId": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/User"
          },
          "rating": {
            "type": "object",
            "properties": {
              "average": {
                "type": "number",
                "format": "float"
              },
              "count": {
                "type": "integer"
              }
            }
          },
          "downloads": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "themeData": {
            "type": "object",
            "properties": {
              "colors": {
                "type": "object",
                "properties": {
                  "primary": {
                    "type": "string"
                  },
                  "secondary": {
                    "type": "string"
                  },
                  "accent": {
                    "type": "string"
                  },
                  "background": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              },
              "fonts": {
                "type": "object",
                "properties": {
                  "main": {
                    "type": "string"
                  },
                  "headers": {
                    "type": "string"
                  },
                  "size": {
                    "type": "string"
                  }
                }
              },
              "elements": {
                "type": "object",
                "properties": {
                  "cornerRadius": {
                    "type": "integer"
                  },
                  "iconStyle": {
                    "type": "string"
                  },
                  "buttonStyle": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["id", "name", "authorId", "themeData"]
      },
      "ThemesList": {
        "type": "object",
        "properties": {
          "themes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Theme"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": ["themes", "pagination"]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri"
          },
          "bio": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["user", "moderator", "admin"]
          },
          "reputation": {
            "type": "integer"
          },
          "preferences": {
            "type": "object",
            "properties": {
              "notifications": {
                "type": "boolean"
              },
              "language": {
                "type": "string"
              }
            }
          }
        },
        "required": ["id", "username", "role"]
      },
      "Bookmark": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "comicId": {
            "type": "string"
          },
          "chapterId": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "note": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "comic": {
            "$ref": "#/components/schemas/Comic"
          }
        },
        "required": ["id", "userId", "comicId"]
      },
      "BookmarkInput": {
        "type": "object",
        "properties": {
          "comicId": {
            "type": "string"
          },
          "chapterId": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "note": {
            "type": "string"
          }
        },
        "required": ["comicId"]
      },
      "BookmarksList": {
        "type": "object",
        "properties": {
          "bookmarks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bookmark"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": ["bookmarks", "pagination"]
      },
      "ReadingStats": {
        "type": "object",
        "properties": {
          "totalReadingTime": {
            "type": "integer",
            "description": "Общее время чтения в минутах"
          },
          "comicsRead": {
            "type": "integer",
            "description": "Количество прочитанных комиксов"
          },
          "chaptersRead": {
            "type": "integer",
            "description": "Количество прочитанных глав"
          },
          "pagesRead": {
            "type": "integer",
            "description": "Количество прочитанных страниц"
          },
          "averageReadingSpeed": {
            "type": "number",
            "format": "float",
            "description": "Средняя скорость чтения (страниц в минуту)"
          },
          "mostReadGenres": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "genre": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "readingByDay": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "minutes": {
                  "type": "integer"
                },
                "pages": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "required": ["totalReadingTime", "comicsRead", "chaptersRead", "pagesRead"]
      },
      "Recommendation": {
        "type": "object",
        "properties": {
          "comic": {
            "$ref": "#/components/schemas/Comic"
          },
          "score": {
            "type": "number",
            "format": "float",
            "description": "Оценка релевантности рекомендации (0-1)"
          },
          "reason": {
            "type": "string",
            "description": "Причина рекомендации"
          }
        },
        "required": ["comic", "score"]
      },
      "RecommendationsList": {
        "type": "object",
        "properties": {
          "recommendations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recommendation"
            }
          }
        },
        "required": ["recommendations"]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        },
        "required": ["total", "page", "limit", "pages"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object"
          }
        },
        "required": ["code", "message"]
      }
    }
  }
}
