<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<application
		android:name=".MrComicApplication"
		android:allowBackup="true"
		android:label="MrComic"
		android:supportsRtl="true"
		android:theme="@style/Theme.MrComic">

		<activity
			android:name=".SplashActivity"
			android:exported="true"
			android:theme="@style/Theme.App.Splash">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".VideoSplashActivity"
			android:exported="false"/>

		<activity
			android:name=".WelcomeActivity"
			android:exported="false"/>

		<activity
			android:name=".MainActivity"
			android:exported="false"/>

	</application>
</manifest>