opencv-python==4.9.0.80
numpy==1.26.4
pytesseract==0.3.10
Pillow==10.4.0
paddleocr==2.8.0.2
paddlepaddle==2.6.1 # CPU-version. For GPU, install appropriate paddlepaddle-gpu version.
easyocr==1.7.1
transformers==4.43.3
torch==2.4.0 # CPU-version. For GPU, refer to PyTorch official website for installation with CUDA.
# torchvision==0.18.0 # Uncomment if needed by specific transformer models
# torchaudio==2.4.0 # Uncomment if needed by specific transformer models
langdetect==1.0.9
pyspellchecker==0.8.1
requests==2.32.3
onnxruntime==1.18.1
sentencepiece==0.2.0
googletrans==4.0.0rc1
