root = true

[*.kt]
indent_style = space
indent_size = 4
max_line_length = 120
insert_final_newline = true

# Отключить правила для wildcard-импортов и порядка импортов глобально (если нужно)
disabled_rules = import-ordering,no-wildcard-imports

# Включить все правила только для актуального пакета
[app/src/main/java/com/example/mrcomic/**]
disabled_rules = 