<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" android:installLocation="auto" package="meanlabs.comicat" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-1819727">
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:xlargeScreens="true"/>
    <application android:allowBackup="true" android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="@string/app_name" android:largeHeap="true" android:name="meanlabs.comicreader.ComicReaderApp" android:theme="@style/ComiCatActionBar">
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <meta-data android:name="AmazonAPIKey" android:value="@string/amazon_debug_api_key"/>
        <activity android:alwaysRetainTaskState="true" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="standard" android:name="meanlabs.comicreader.Catalog" android:theme="@style/CatalogActionBar" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:mimeType="image/comic" android:pathPattern=".*\\.cbz" android:scheme="file"/>
                <data android:host="*" android:mimeType="image/comic" android:pathPattern=".*\\.cbr" android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|orientation" android:launchMode="singleTask" android:name="com.dropbox.core.android.AuthActivity">
            <intent-filter>
                <data android:scheme="db-76weop5hf3hiwxu"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|orientation" android:launchMode="singleTask" android:name="meanlabs.comicreader.cloud.googledrive.GoogleNonWebViewAuthActivity">
            <intent-filter>
                <data android:scheme="com.googleusercontent.apps.917345885065-50qtjsg0j1k41c1rruubc8s0o22oraju"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:allowTaskReparenting="true" android:configChanges="keyboard|orientation" android:launchMode="singleTask" android:name="com.amazon.identity.auth.device.authorization.AuthorizationActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="meanlabs.comicat" android:scheme="amzn"/>
            </intent-filter>
        </activity>
        <activity android:name="meanlabs.comicreader.Viewer" android:theme="@style/ViewerActionBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/settings" android:name="meanlabs.comicreader.SettingsHome"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/catalogTools" android:name="meanlabs.comicreader.CatalogTools"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/selectFilesToDelete" android:name="meanlabs.comicreader.DeleteMultipleFiles"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/generalSettings" android:name="meanlabs.comicreader.GeneralSettings"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/viewerSettings" android:name="meanlabs.comicreader.ViewerSettings"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/catalogSettings" android:name="meanlabs.comicreader.CatalogSettings"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/performanceSettings" android:name="meanlabs.comicreader.PerformanceSettings"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/cloudSyncSettings" android:name="meanlabs.comicreader.CloudSyncSettings" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/settingsGuide" android:name="meanlabs.comicreader.UserGuide"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/help" android:name="meanlabs.comicreader.Help"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/privateFolders" android:name="meanlabs.comicreader.HiddenFolderSettings" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/markMultipleComicRead" android:name="meanlabs.comicreader.BulkMarkRead" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/limitScanTo" android:name="meanlabs.comicreader.ComicFolders" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/cloudSync" android:name="meanlabs.comicreader.cloud.CloudSync" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/activeDownloads" android:name="meanlabs.comicreader.cloud.ActiveDownloads" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/dropbox" android:name="meanlabs.comicreader.cloud.dropbox.DropboxAuthActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/googleDrive" android:name="meanlabs.comicreader.cloud.googledrive.GoogleAuthActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/box" android:name="meanlabs.comicreader.cloud.box_content.Authentication" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/oneDrive" android:name="meanlabs.comicreader.cloud.onedrive.OneDriveAuthActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/addSMBShare" android:name="meanlabs.comicreader.cloud.smb.SMBShareChooserActivity" android:windowSoftInputMode="adjustPan"/>
        <service android:name="meanlabs.comicreader.cloud.DownloaderService"/>
        <service android:name="meanlabs.comicreader.ThumbnailService"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="com.box.androidsdk.content.auth.OAuthActivity"/>
        <activity android:launchMode="singleInstance" android:name="com.box.androidsdk.content.auth.BlockedIPErrorActivity"/>
    </application>
</manifest>
